{% extends "layout.html" %}

{% block title %}
    Document
{% endblock %}

{% block main %}

<div class="section">
    <table>
        <tbody>
            <form class="doc-form" action="/existing_clinet/<ClientID>" method="post">
                <div class="form-group">
                    <input required autocomplete="off" autofocus class="form-control
                    form-control_short" name="outcome" placeholder="Today's day (1-31)" type="text">
                </div>
                <div class="form-group">
                    <input required autocomplete="off" class="form-control
                    form-control_short" name="outcome" placeholder="Month (1-12)" type="text">
                </div>
                <div class="form-group">
                    <input required autocomplete="off" class="form-control
                    form-control_short" name="outcome" placeholder="Year (4 digits)" type="text">
                </div>
                <div class="form-group">
                    <textarea autocomplete="off" class="form-control
                    form-control_block" name="outcome" placeholder='Narrative Notes' type='text'></textarea>
                </div>
                {% for lines in block1 %}
                <tr>
                    <td class="goals-and-objectives">{{ lines }}</td>
                    <td>
                        {% if lines is number %}
                        <input name='outcome' value='{{ lines }}' id='Nul'>
                        {% elif lines == '' or lines.startswith('To') %}
                        <div class="form-group">
                            <input autocomplete="off" class="form-control
                            form-control_short" name="outcome" id='Nul' value="NULL" type="text">
                        </div>
                        {% else %}
                        <div class="form-group">
                            <select class="form-control form-control_short" name="outcome">
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="N/A">N/A</option>
                            </select>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </tbody>
    </table>
</div>
{% endblock %}