{% extends "layout.html" %}

{% block title %}
    Document
{% endblock %}

{% block main %}
<div class="section">
    <table>
        <tbody>
            <form class="doc-form" action="/update/<ClientID>" method="post">
                <div class="form-group">
                    <input required autocomplete="off" class="form-control form-control_short" name="update" placeholder="Today's Day (integer)"" type="text">
                </div>
                <div class="form-group">
                    <input required autocomplete="off" class="form-control form-control_short" name="update" placeholder="Month (integer)" type="text">
                </div>
                <div class="form-group">
                    <input required autocomplete="off" class="form-control form-control_short" name="update" placeholder="Year (4 digits)"" type="text">
                </div>
                {% for i in range(allgoals | length) %}
                <tr>
                    <td class="goals-and-objectives">{{ titles[i] }}: </td>
                </tr>
                <tr>
                    <td class="goals-and-objectives" id='{{ allgoalsID[i] }}'>{{ allgoals[i] }}</td>
                </tr>
                <tr>
                    <td>
                        {% if allgoals[i] is number %}
                        <input name='update' value='{{ allgoals[-1] }}' id='Nul'>
                        {% else %}
                        <label class="checkbox__label" for= '{{ htmlLabels[i] }}'>
                            <input id='{{ htmlLabels[i] }}' type="checkbox" name="update" value="{{ allgoals[i] }}" class="invisible-checkbox">
                            <span class="visible-checkbox"></span>
                            <span class="checkbox-text">Same as original</span>
                        </label>
                        <div class="form-group">
                            <input autocomplete="off" class="form-control required
                            form-control_long" id='{{ inputIds[i] }}' name="update" type="text">
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </tbody>
    </table>
</div>
<script src="{{url_for('static', filename='update.js')}}"></script>
{% endblock %}

